*{box-sizing: border-box;
margin: 0;
padding: 0;}
body{
    background-color: rgba(237,189,17,1);
    margin: 0;
    padding: 0;
   height: 216vh;
   font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
}
.dark{
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,146,255,1) 100%);

}
.dark a{
  text-decoration: none;
  color: white;

}
.dark a img{
filter: invert();
}
.dark #header{
  background-color:rgb(2,0,36);;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 39%;
}
.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 196, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #808080;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#header{
   
    width: 100%;
    height: 80px;
    padding: 27px 52px;
    position: relative;
    background-color: rgba(237,189,17,1);
}
#header a{
  padding-left: 50%;
}
.dark #center{
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,146,255,1) 100%);
background-blend-mode: luminosity;
background-image: url(technology-6701504_1280\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#center{
    background-image: url(technology-6701504_1280\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(237,189,17,1);
    background-blend-mode: luminosity;
  
}
#ladinho{ width: 4%;
 
    position: fixed;
   right:  0;
   top: 0;
    z-index: 99;
    height: 100vh;
}
#titulo{
    display: flex;
    padding-left: 40%;
}
#titulo h1{
    width: 200px;
    font-size: 40px;
    
}
#titulo img{
    padding-top: 3%;
    padding-right: 20px;
    width: 40px;
    height: 40px;
}
#texto {
    width: 200px;
    text-align: justify;
    margin-left: 44%;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}
.dark a{
color: #000;
}
button{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding-right: 80px;
    padding-bottom: 15px;
    position: absolute;
    z-index: 1000;
}
button:hover{
    scale: 1.3;
}
a{
    
    text-decoration: none;
    color:rgb(237, 149, 17) ;
    font-weight: 700;
    z-index: 1;
    position: absolute;
}
#text :hover{
    color: black;
}
.circle {
    width: 20px;
    
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
  }
  #acesse { transition: 0.5s;}
  .wrapper{
    position:relative;
    margin:40px auto;
    border:0px solid red;
    overflow:hidden;
    height:500px;
    max-width:700px;
    border-radius:4px;
  }
  .imgList{
    position:absolute;
    list-style:none;
    margin:0;
    padding:0;
    width:1000%;
    text-align:center;  
  }
  li{
    height:100px;
    float:left;
    display:inline-block;
    background-color: #585858;
    opacity: 0.9;
    border-radius: 30px;
    height:500px;
    width:700px;
    }
  
  li .nr{
    position:relative;
    margin:0;
    padding:0;
    top:19%;
    left:0%;
    transition:transformY(-50%) transformX(-50%);
    font-size:200px;
    color:#fff;
    text-shadow:2px 1px 1px #999;
  }
  #img1{
    background-image: url("Sem\ título.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .glyphicon-menu-left{
    cursor:pointer;
    position:absolute;
    left:0;
    top:45%;
    border:0px solid red;
    padding:10px;
    background:rgba(117, 117, 117, 0.5);
    color:#fff;
  }
  .glyphicon-menu-left img{
    width: 25px;
  }
  .glyphicon-menu-right img{
    width: 25px;
  }
  .glyphicon-menu-right{
    cursor:pointer;
    position:absolute;
    top:45%;
    right:0;
    border:0px solid red;
    padding:10px;
    background:rgba(117, 117, 117, 0.5);
    color:#fff;
  }
  
  .imgList li:nth-child(1){
    background-image: url("Sem\ título.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgList li:nth-child(2){
    background-image: url("site2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgList li:nth-child(3){
    background-image: url("site3.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgList li:nth-child(4){
    background-image: url("site\ 5.1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgList li:nth-child(5){
    background-image: url("site5.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  @media(min-width: 1440px) and (max-width: 1920px) {
    
    #center{
        height: 50%;
    }
    #titulo {
        padding-left: 41%;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    #titulo img{
        height: 45px;
        width: 60px;
        padding-bottom: 0px;
        padding-top: 0px;
    }  

  } 

  #tela2{
    height: 88vh;
    padding: 33px;
  }
  @media (max-width: 425px){
    #center{
      height: 100vh;
    }
    
    #header a{
      padding-left: 70px;
    }
    #titulo{padding-left: 20%;
      padding-top: 10%;
    }
    #texto{margin-left: 30%;}
  }